{% extends 'base.html' %}
{% load static %}
{% block static %}
<link type="text/css" href="{% static 'css/dishes_pages.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="left_div">
    </div>
    <div class="main_container">
        {% for fd in food %}
        <div class="card">
            <span class="badge">Знижка 10.00 %</span>
            <img class="dish_img" src="{% static fd.img %}" alt="Чайный столик и три стула">
                 <div class="card-body">
                     <a href="#" class="card-title">{{ fd.name }}</a>
                     <p class="card-text">{{ fd.desc }}</p>
                     <p class="price"><span class="old-price">100 $</span> 90.00 $</p>
                     <img class="cart-icon" src="{% static  'img/add_to_cart.png' %}" alt="Добавити до корзини">
                 </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}