{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static '/restaurant/css/main_page.css' %}" rel="stylesheet" />
</head>
<body>
<div class="header_container">
    <nav class="nav">
        {% for b in nav_buttons %}
            {% if not forloop.last %}
            <div><a href="{% url b.ref %}">{{ b.title }}</a></div>
            {% else %}
            </nav>
            <nav class="nav">
            <div><a href="{% url b.ref %}">{{ b.title }}</a></div>
            </nav>
            {% endif %}
        {% endfor %}
</div>
{% block content %} {% endblock %}
</body>
</html>