{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'restaurant/css/main_page.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="header_container">
        <nav class="nav">
            {% for b in nav_buttons %}
            {% if not forloop.last %}
                <div class="nav_div">
                    <a href="{% url b.ref %}" class="nav_a">{{ b.title }}</a>
                </div>
            {% else %}
            <div class="menu_container">
                <button id="menu_button">{{ b.title }}</button>
                <ul id="dropdown-menu" class="hidden">
                    {% for but in food_buttons %}
                    <li><a href="{% url but.ref %}">{{ but.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </nav>
        <nav id="naw2">
            <label>
                <input type="text" placeholder="Search">
            </label>
            <button id="search_button" style="margin: 20px">Пошук</button>
        </nav>
    </div>
    {% block content %} {% endblock %}
    {% block footer %} {% endblock %}
    <script src="{% static 'restaurant/js/main_page.js' %}"></script>
</body>
</html>