{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'create_order.css' %}">
{% endblock %}
{% block content %}

<form style="width: 100%" action="{% url 'create_order' %}" method="post">
    {% csrf_token %}
    <div class="main_order_div">
        <div class="order_modal">
            <div class="order_title_div">
                <h2>Вибрані товари</h2>
            </div>
            <div id="cartModal" class="cart_modal">
            {% include 'includes/include_cart.html' %}
            </div>
            <h2>Деталі замовлення</h2>
            <div class="details">
                <div class="first_last_name_div">
                    <div class="first_name">
                        <label for="first_name">Ім'я*:</label>
                        <input id="first_name" type="text" name="first_name" class="form-control" value="{{ form.first_name.value }}" required>
                         {% if form.first_name.errors %}
                         <div class="error_div">{{ form.first_name.errors }}</div>
                         {% endif %}

                    </div>
                    <div class="last_name">
                        <label for="last_name">Фамілія*:</label>
                        <input id="last_name" type="text" name="last_name" class="form-control" value="{{ form.last_name.value }}" required>
                         {% if form.last_name.errors %}
                         <div class="error_div">{{ form.last_name.errors }}</div>
                         {% endif %}
                    </div>
                </div>
                <div class="phone_number">
                    <label for="phone_number">Номер телефону*:</label>
                    <input id="phone_number" type="text" placeholder="У форматі 380-ХХ-ХХХХ-ХХХ" name="phone_number" class="form-control" required>
                     {% if form.phone_number.errors %}
                        <div style="color: #a41515">{{ form.phone_number.errors }}</div>
                     {% endif %}
                </div>
                <div class="delivery">
                    <input type="checkbox" id="delivery_check" name="requires_delivery" class="form-control" value="1">
                    <label for="delivery_check">Потрібна доставка</label>
                    <div class="adress_div">
                        <label for="delivery_address" style="margin-top: 20px">Адреса замовлення:</label>
                        <input type="text" id="delivery_address" placeholder="У форматі місто вулиця квартира/будинок" class='form-control' name="delivery_address">
                        {% if form.delivery_address.errors %}
                            <div style="color: #a41515">{{ form.delivery_address.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="payment">
                    Спосіб оплати:
                    <label>
                    <input type="radio" name="payment_on_get" value="Картою" checked>
                    Картою</label>
                    <label>
                    <input type="radio" name="payment_on_get" value="Картою/грошима при отриманні">
                    Картою/готівкою при отриманні
                    </label>
                </div>
                <button type="submit">Оформити замовлення</button>

            </div>
        </div>
    </div>
</form>
{% endblock %}
