{% extends 'base.html' %}
{% load static %}
{% block static %}
<link type="text/css" href="{% static 'css/dishes_pages.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="left_div">
    </div>
    <div class="main_container">
        {% for fd in food %}
        <div class="card">
            {% if fd.discount %}
            <span class="badge">Знижка {{ fd.discount }}%</span>
            {% endif %}
            {% if fd.image %}
                <img class="dish_img" src="{{ fd.image.url }}" alt="{{ fd.name }}">
            {% else %}
                <img class="dish_img" src="{% static 'img/img_not_found.jpg' %}" alt="Зображення не знайдено">
            {% endif %}
                 <div class="card-body">
                     <a href="{{ fd.slug }}" class="card-title">{{ fd.name }}</a>
                     <p class="card-text">{{ fd.description }}</p>
                     {% if fd.discount %}
                         <p class="price"><span class="old-price">{{ fd.price }} </span><strong>{{ fd.sell_price }} грн</strong></p>
                     {% else %}
                        <p class="price"><strong>{{ fd.price }} грн</strong></p>
                     {% endif %}
                     <img class="cart-icon" src="{% static  'img/add_to_cart.png' %}" alt="Добавити до корзини">
                 </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}