{% extends 'base.html' %}
{% load static %}
{% block static %}
<link type="text/css" href="{% static 'css/registration.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
 <div class="register-box">
    <h2>Реєстрація</h2>
    <form class="form-grid">
      <div>
        <label>Ім'я*</label>
        <input type="text" placeholder="Введіть ваше Ім'я">
      </div>
      <div>
        <label>Фамілія*</label>
        <input type="text" placeholder="Введіть вашу фамілію">
      </div>
      <div>
        <label>Ім'я користувача*</label>
        <input type="text" placeholder="Введіть ваше ім'я користувача">
      </div>
      <div>
        <label>Email*</label>
        <input type="email" placeholder="Введіть ваш email">
      </div>
      <div>
        <label>Пароль*</label>
        <input type="password" placeholder="Введіть пароль">
      </div>
      <div>
        <label>Підтвердження пароля*</label>
        <input type="password" placeholder="Підтвердіть пароль">
      </div>
      <button class="register-button" type="submit">Зареєструватися</button>
    </form>
  </div>
{% endblock %}