{% extends 'base.html' %}
{% load static %}
{% block static %}
<link type="text/css" href="{% static 'css/dishes_info.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="cartModal" class="modal">
  {% include 'includes/include_cart.html' %}
</div>
<div class="main_container" >
    <div class="but_div">
        {% include 'includes/include_button.html' %}
    </div>
    <div class="product-card">
        <div class="first-card-container">
            <div class="product-image">
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}">
            </div>
            <div class="product-info">
                <h2 class="product-title">{{ dish.name }}</h2>
                {% if dish.discount %}
                <p class="product-price">Ціна: <strong>{{ dish.sell_price }} грн</strong></p>
                {% else %}
                <p class="product-price">Ціна: <strong>{{ dish.price }} грн</strong></p>
                {% endif %}
                <p class="product-description">{{ dish.description }}</p>
                <p>Інгрідієнти: {{ dish.compound }}</p>
                <p>Час приготування: {{dish.cooking_time}}</p>
                <a href="{% url 'cart_add' %}" class="add-to-cart" data-dish-id="{{ dish.id }}" >{% csrf_token %}<div class="add_but_div">Додати до корзини</div></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}